.payments {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 400px;
    overflow-y: auto;
}

.payment {
    background: linear-gradient(90deg, rgba(5, 184, 110, 0.5) 0%, rgba(56, 196, 189, 0.5) 100%);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 3%;
    align-items: center;
}

.payment h2 {
    font-family: Montserrat-SemiBold, sans-serif;
}

.content-personal-account {
    width: 70%;
}

.price {
    font-size: 1.2rem;
}

.payments::-webkit-scrollbar {
  width: 0.5rem;
}


.payments::-webkit-scrollbar-thumb {
  background-color: #DCDCDC;
  border-radius: 5px;
}


@media (max-width: 767px) {
    .content-personal-account {
        width: 100%;
    }

    .payment h2 {
        font-size: 1.3rem;
    }

    .price {
        font-size: 0.9rem;
    }

    .date-subscription p {
        font-size: 0.9rem;
    }

    .payment {
        align-items: flex-end;
    }

}
