.formSettings {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.settings-text {
    background: #F4F4F4;
    border: 1px solid #DCDCDC;
    border-radius: 10px;
    padding: 3%;
    width: 50%;
    height: 100%;
    color: #696E76;
}

.email-warning-text {
    color: #696E76;
    font-size: 16px;
}

.form-label {
    color: #696E76;
}

.form-control {
    background: #F4F4F4;
}

.content-personal-account h2 {
    font-family: Montserrat-SemiBold;
}

.form-check-input:checked {
    background-color: #2CAAA4 !important;
    border-color: #2CAAA4 !important;
}

.form-check-input {
    height: 1.4rem;
}

.form-switch .form-check-input {
    width: 2.4rem;
}

.account-photo {
    display: flex;
    flex-direction: row;
    gap: 7%;
    align-items: center;
    margin-bottom: 5%;
}

.add-photo {
    color: #2CAAA4;
}



@media (min-width: 768px) {
    .mobile-header {
        display: none;
    }
    .content-personal-account,
    .student-settings-input {
        width: 75%;
    }

}

@media (max-width: 991px) {
    .settings-text {
        display: none;
    }
}

@media (max-width: 767px) {

    .computer-header {
        display: none;
    }

    .content-personal-account {
        width: 100%;
    }
}
