.formSettings {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.settings-text {
    background: #F4F4F4;
    border: 1px solid #DCDCDC;
    border-radius: 10px;
    padding: 3%;
    width: 50%;
    height: 100%;
    color: #696E76;
}

.email-warning-text {
    color: #696E76;
    font-size: 16px;
}

.form-label {
    color: #696E76;
}

.form-control {
    background: #F4F4F4;
}
