.module {
    display: flex;
    flex-direction: row;
    background: #F4F4F4;
    border-radius: 20px;
    justify-content: space-between;
    padding: 5% 5% 3% 3%;
    height: 100%;
    margin-bottom:  5%;
}

.text-module {
    font-size: 20px;
    width: 70%;
    margin-top: 60px;
    margin-bottom: 60px;
}

.module-picture img{
    width: 400px;
}
