.courses {
    background: #F4F4F4;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.courses h1 {
    margin-bottom: 5%;
    font-family: Montserrat-Bold, sans-serif;
}

.course {
    background: linear-gradient(180deg, #434343 0%, #262626 100%);
    border-radius: 10px;
    width: 600px;
    height: 350px;
    color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3% 3% 2% 2%;
}

.course img {
    width: 150px;
    height: 168px;
}

.text-course {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dev-courses, .design-courses {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dev-courses {
    margin-bottom: 5%;
}

.block-button-courses {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

@media (max-width: 1399px) {
    .course {
        width: 520px;
        height: 300px;
    }
}

@media (max-width: 1199px) {
    .course {
        width: 450px;
        height: 250px;
    }
}


@media (max-width: 991px) {
    .dev-courses, .design-courses {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .dev-courses {
        margin-bottom: 30px;
    }
}

@media (max-width: 575px) {
    .course {
        width: 300px;
        height: 200px;
    }

    .course img {
        width: 80px;
        height: 90px;
    }
}
