

.card {
    background: linear-gradient(180deg, #D9D9D9 45.62%, #38C4BD 100%);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}

#carouselNews {
    margin-top: 5%;
}

#news h1 {
    font-family: Montserrat-Bold;
}

.card-body a {
    color: #000000;
}

.card-title {
    font-weight: bold;
    font-size: 16px;
}

@media (max-width: 991px) {
    .carousel-news-container {
        width: 20rem;
    }
    #carouselNews .carousel-control-next,
    #carouselNews .carousel-control-prev {
        display: none;
    }

    #carouselNews .carousel-indicators {
        position: relative;
        top: 460px;
    }

    .carousel-news-container-upper {
        display: flex;
        justify-content: center;
        margin-bottom: 10%;
    }
}

@media (min-width: 992px) {
    #carouselNews .carousel-inner {
        display: flex;
    }

    #carouselNews .carousel-indicators {
        display: none;
    }

    #carouselNews .carousel-item {
        margin-right: 0;
        flex: 0 0 33.333333%;
        display: block;
    }

    #carouselNews .carousel-control-prev {
        position: relative;
        left: 80%;
        top: -450px;
    }

    #carouselNews .carousel-control-next {
        position: relative;
        left: 91%;
        border: 1px solid black;
        border-radius: 5px;
        width: 85px;
        height: 30px;
        top: -477px;
    }
}

#carouselNews .carousel-inner {
    padding: 1em;
}
