@font-face {
    font-family: "Montserrat";
    src: url('../../../../fonts/fonts/Montserrat-Regular.ttf');
}

@font-face {
    font-family: "Montserrat-SemiBold";
    src: url('../../../../fonts/fonts/Montserrat-SemiBold.ttf');
}

* {
    font-family: Montserrat, sans-serif;
}

.private-messages-header, .chat-item-text h4, .card-header h3 {
    font-family: Montserrat-SemiBold, sans-serif;
}

.private-chat-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5%;
}

.chat-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
    padding-right: 3%;
    width: 40%;
}

.chat-item {
    display: flex;
    flex-direction: row;
    gap: 10%;
    padding: 5%;
    background: radial-gradient(100% 100% at 50% 0%, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%), #F4F4F4;
    box-shadow: 0 0 20px 1px rgba(240, 240, 240, 0.3);
    border-radius: 10px;
}

.chat-item:hover {
    background: radial-gradient(100% 100% at 50% 0%, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #D9D9D9 0%, #38C4BD 100%);
    box-shadow: 0 0 20px 1px rgba(240, 240, 240, 0.3);
}

.active {
    background: radial-gradient(100% 100% at 50% 0%, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #D9D9D9 0%, #38C4BD 100%);
    box-shadow: 0 0 20px 1px rgba(240, 240, 240, 0.3);
}

.chat-item img {
    width: 100px;
    height: 100px;
}

.private-chat-body .card {
    background: #F4F4F4;
    box-shadow: 0 4px 40px 1px #F0F0F0;
    height: 700px;
    border: none;
}

.private-chat-body .card-body {
    overflow-y: auto;
}

.private-chat-body .card-body > :first-child {
    margin-top: auto !important;
}

.private-chat-body .card-header {
    background: linear-gradient(180deg, #D9D9D9 0%, rgba(217, 217, 217, 0) 100%);
    padding-left: 10%;
    padding-top: 3%;
    padding-bottom: 3%;

}

.private-chat-body .card-header img {
    width: 15%;
}

.private-chat-body .card-footer {
    background: #F4F4F4;
}

.chat-user {
    display: flex;
    flex-direction: row;
    gap: 5%;
}

.chat-second, .chat-third {
    display: none;
}

.sender {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5%;
}

.chat-user img {
    width: 10%;
}

.sender img {
    width: 10%;
}

.sender-message {
    background: #FFFFFF;
    border: 1px solid #DCDCDC;
    border-radius: 10px;
    padding: 2%;
}

.chat-user-message {
    padding: 2%;
    background: #C0C0C0;
    border: 1px solid #8B8B8B;
    border-radius: 10px;
}

.private-chat-body .card {
    margin-bottom: 10%;
}

.list-group {
    box-shadow: 0 0 40px 1px #F0F0F0;
    height: 100%;
    padding: 1% 0.5% 1% 0.5%;
    border-radius: 10px;
}

.list-group-item a {
    color: #696E76;
    text-decoration: none;
    font-size: 16px;
    width: 210px;
}

.list-group-item a:active {
    color: #000000;
    font-weight: 500;
}

.list-group-item a:hover {
    color: #000000;
    font-weight: 500;
}

@media (max-width: 991px) and (min-width: 768px) {
    .chat-item h4 {
        font-size: 1.2rem;
    }

    .chat-item p {
        font-size: 0.9rem;
    }

    .chat-item img {
        width: 90px;
        height: 90px;
    }

    .private-chat-body .card {
        width: 65%;
    }
}

@media (min-width: 992px) {
    .private-chat-body .card {
        width: 50%;
    }

}

@media (max-width: 767px) {
    .private-chat-body {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .navbar-computer {
        display: none;
    }

    .chat-list {
        width: 100%;
        margin-bottom: 10%;
    }

    .private-chat-body .card {
        width: 100%;
    }

    .private-chat-body .card-header,
    .private-chat-body .card-footer,
    .private-chat-body .card-body {
        background: #EBEBEB;
        border: none;
    }
}

@media (min-width: 768px) {
    .navbar-mobile {
        display: none;
    }
}
