.personal-account-body .card-header,
.personal-account-body .card-footer {
    background-color: white;
}

.personal-account-body .card-footer,
.personal-account-body .card {
    border: none;
}

.personal-account-body .card {
    box-shadow: 0 0 40px #F0F0F0;
    border-radius: 10px;
    height: 600px;
}

.personal-account-body .card-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5%;
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.form-control {
    background-color: #EBEBEB;
}

.personal-account-body .card-header img {
    width: 10%;
}

.chat-item-text h4, h2 {
    font-family: Montserrat-SemiBold, sans-serif;
}

.chat-user {
    display: flex;
    flex-direction: row;
    gap: 5%;
}

.sender {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5%;
}

.chat-user img {
    width: 10%;
}

.sender img {
    width: 10%;
}

.sender-message {
    background: #FFFFFF;
    border: 1px solid #DCDCDC;
    border-radius: 10px;
    padding: 2%;
}

.chat-user-message {
    padding: 2%;
    background: #C0C0C0;
    border: 1px solid #8B8B8B;
    border-radius: 10px;
}

@media (min-width: 768px) {
    .technical-chat {
        width: 78%;
        height: 100%;
    }
}

@media (max-width: 767px) {
    .personal-account-body .card-header,
    .personal-account-body .card-footer,
    .personal-account-body .card-body {
        background-color: #EBEBEB;
    }

    .personal-account-body .card-header {
        border: none;
    }

    .form-control {
        background-color: white;
    }
}
