@font-face {
    font-family: "Montserrat";
    src: url('../../../fonts/fonts/Montserrat-Regular.ttf');
}

@font-face {
    font-family: "Montserrat-Bold";
    src: url('../../../fonts/fonts/Montserrat-Bold.ttf');
}

* {
    font-family: Montserrat, sans-serif;
}

legend {
    font-family: Montserrat-Bold, bold;
}

.signin-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 9%;
}


.signin-form {
    width: 480px;
    height: 100%;
    background: linear-gradient(180deg, #65E2DC 0%, #38C4BD 100%);
    border-radius: 10px;
    padding: 54px 40px 45px 40px;
    margin-bottom: 18%;
}

.signin-form:hover button {
    background: radial-gradient(100% 100% at 50% 0%, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%), #000000;
    color: white;
}

.signin-form input {
    height: 50px;
}

.no-registration  {
    margin-top: 30px;
}

.block-with-image img {
    margin-left: 25%;
}

@media (max-width: 1199px) {
    .block-with-image img {
        width: 75%
    }

    .block-with-image h1 {
        font-size: 35px;
    }
    .block-with-image {
        width: 40%;
    }
}

@media (max-width: 991px) {
    .block-with-image {
        display: none;
    }
    .signin-block {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 500px) {
    .signin-form {
        width: 100%;
        padding: 7%;
    }

    .signin-form button {
        width: 100%;
    }
}
