.signin-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 9%;
}


.signin-form {
    width: 480px;
    height: 100%;
    background: linear-gradient(180deg, #65E2DC 0%, #38C4BD 100%);
    border-radius: 10px;
    padding: 54px 40px 45px 40px;
    margin-bottom: 18%;
}

.signin-form:hover button {
    background: radial-gradient(100% 100% at 50% 0%, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%), #000000;
    color: white;
}

.signin-form input {
    height: 50px;
}

.no-registaration {
    margin-top: 30px;
}

.block-with-image img {
    margin-left: 25%;
}
