@font-face {
    font-family: "Montserrat";
    src: url('../../../fonts/fonts/Montserrat-Regular.ttf');
}

* {
    font-family: Montserrat;
}

.head-news {
    background: radial-gradient(100% 100% at 50% 0%, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(90deg, #05B86E 0%, #2CAAA4 48.75%, #026785 100%);
    border-radius: 20px;
    color: white;
    padding-top: 5%;
    padding-left: 5%;
    padding-bottom: 5%;
    margin-bottom: 5%;
}

.head-news h1 {
    margin-top: 2%;
    margin-bottom: 2%;
}

.text-news {
    margin-top: 5%;
    margin-bottom: 5%;
}

.text-news h1 {
    margin-bottom: 3%;
}

@media (min-width: 992px) {
    #enter {
        display: none;
    }
}
