@font-face {
    font-family: "Montserrat";
    src: url('../../../../../fonts/fonts/Montserrat-Regular.ttf');
}

@font-face {
    font-family: "Montserrat-SemiBold";
    src: url('../../../../../fonts/fonts/Montserrat-SemiBold.ttf');
}

* {
    font-family: Montserrat, sans-serif;
}

.lesson h2, h1 {
    font-family: Montserrat-SemiBold, sans-serif;
}


.lessons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 10%;
    gap: 8%;
}

.lesson {
    height: 400px;
    /* width: 350px; */
    background: linear-gradient(180deg, #F4F4F4 0%, rgba(56, 196, 189, 0.7) 100%);
    box-shadow: 0 0 40px #F0F0F0;
    border-radius: 10px;
    margin-top: 5%;
    padding-top: 8%;
    padding-left: 8%;
}

.lesson:hover {
    background: linear-gradient(180deg, #2CAAA4 0%, rgba(56, 196, 189, 0.7) 100%);
    box-shadow: 0 0 40px #F0F0F0;
}

.lesson:active {
    background: linear-gradient(180deg, #2CAAA4 0%, rgba(56, 196, 189, 0.7) 100%);
    box-shadow: 0 0 40px #F0F0F0;
}

.text-lesson {
    font-size: 24px;
}

@media (max-width: 1199px) {
    .lesson h2 {
        font-size: 1.5rem;
    }
}

@media (max-width: 991px) {
    .lessons {
        display: grid;
        grid-template-columns: 1fr 1fr ;
        margin-bottom: 40%;
    }
}

@media (max-width: 767px) {
    .lessons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 10%;
    }

    .lesson {
        width: 300px;
    }
}

@media (max-width: 330px) {
    .lesson {
        width: 100%;
    }
}
