@font-face {
    font-family: "Montserrat";
    src: url('../../../../fonts/fonts/Montserrat-Regular.ttf');
}

@font-face {
    font-family: "Montserrat-SemiBold";
    src: url('../../../../fonts/fonts/Montserrat-SemiBold.ttf');
}

* {
    font-family: Montserrat;
}

.personal-account-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10%;
    margin-top: 5%;
}

.list-group {
    box-shadow: 0 0 40px 1px #F0F0F0;
    height: 100%;
    padding: 1% 0.5% 1% 0.5%;
    border-radius: 10px;
}

.list-group-item a {
    color: #696E76;
    text-decoration: none;
    font-size: 16px;
    width: 210px;
}

.list-group-item a:active {
    color: #000000;
    font-weight: 500;
}

.list-group-item a:hover {
    color: #000000;
    font-weight: 500;
}

.content-personal-account {
    background: #FFFFFF;
    box-shadow: 0 0 40px #F0F0F0;
    border-radius: 10px;
    padding: 5% 5% 5% 10%;
}

.technical-chat .card-body {
    overflow-y: auto;
}

.technical-chat .card-body > :first-child {
    margin-top: auto !important;
}


@media (max-width: 767px) {
    .personal-account-body {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .navbar-computer {
        display: none;
    }

    #list-computer {
        display: none;
    }
}

@media (min-width: 768px) {
    .navbar-mobile {
        display: none;
    }
}
