.contacts h1 {
    font-family: Montserrat-Bold, sans-serif;
}

.contacts-blocks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5%;
}

.get-contacts {
    display: flex;
    flex-direction: column;
}

.form-control {
    margin-bottom: 2%;
    background-color: #DCDCDC;
    color: black;
    font-size: 13px;
}

.contacts-big-text {
    font-size: 25px;
}

.conditions {
    font-size: 10px;
    width: 70%;
}

.text-contacts {
    margin-top: 3%;
    width: 30%;
}
@media (max-width: 991px) {
    .get-contacts {
        width: 50%;
    }

    .contacts-big-text {
        font-size: 20px;
    }
}

@media (max-width: 767px) {
    .contacts-blocks {
        flex-direction: column;
        margin-bottom: 5%;
    }

    .text-contacts {
        width: 100%;
    }

    .get-contacts {
        width: 100%;
        margin-top: 5%;
    }

    .contacts h1 {
        display: none;
    }

    .text-course h3 {
        font-size: 20px;
    }

    .duration {
        font-size: 14px;
    }
}
