.feedback {
    background: #F4F4F4;
    padding-top: 5%;
    margin-bottom: 3%;
    padding-bottom: 5%;
}

.bodyFeedback {
    margin-top: 3%;
    display: flex;
    gap: 5%;
    flex-direction: row;
    align-items: center;
}

.message {
    width: 50%
}

.messageHeader img {
    width: 20%;
    height: 20%;
    margin-right: 3%;
}

.messageHeader {
    display: flex;
    margin-bottom: 3%;
}

.messageHeaderText h4 {
    font-weight: 600;
}

.messageText h4 {
    font-size: bold;
}

.messageText {
    font-weight: bold;
    font-size: 20px
}

#carouselFeedback .carousel-indicators {
    right: 60%;
    bottom: 5%;
}

.carousel .carousel-indicators button {
    background-color: #C0C0C0;
}

.carousel .carousel-indicators button.active {
    background-color: #38C4BD;
}

@media (max-width: 991px) {
    .bodyFeedbackImg {
        width: 400px;
        height: 400px;
    }

    .messageText {
        font-size: 16px;
    }
}

@media (max-width: 991px) {
    .carousel-indicators button {
        background: #C0C0C0;
        width: 15px !important;
        height: 15px !important;
        border-radius: 50%;
    }
}

@media (max-width: 767px) {
    .bodyFeedbackImg {
        display: none;
    }

    #carouselFeedback .carousel-control-prev {
        display: none;
    }

    #carouselFeedback .carousel-control-next {
        position: relative;
        top: -50px;
        left: 80%;
    }

    .bodyFeedback {
        padding-bottom: 100px;
        padding-top: 3%;
        padding-left: 3%;
        background-color: #D9D9D9;
        border-radius: 10px;
    }

    .message {
        width: 100%;
    }
}

@media (min-width: 768px) {
    #carouselFeedback .carousel-indicators {
        display: none;
    }

    #carouselFeedback .carousel-control-prev {
        position: relative;
        left: 80%;
    }

    #carouselFeedback .carousel-control-next {
        position: relative;
        top: -28px;
        left: 91%;
        border: 1px solid black;
        border-radius: 5px;
        width: 85px;
        height: 30px;
    }
}
