@media (max-width: 767px) {
    .computer-footer {
        display: none;
    }
}

@media (min-width: 768px) {
    .mobile-footer {
        display: none;
    }
}

@media (max-width: 333px) {
    .mobile-footer .text-dark {
        font-size: 14px;
    }
}
