.personal-account-statistic {
    display: flex;
    flex-direction: row;
    gap: 3%;
    width: 80%;
}

.other-statistic {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    gap: 15px;
}

.chart, .profit-statistic, .payment-statistic {
    box-shadow: 0px 0px 40px 1px #F0F0F0;
    border-radius: 10px;
}

.profit-statistic {
    padding: 5%;
}

.profit-statistic h3,
.payment-statistic h3,
.chart h3 {
    font-family: Montserrat-SemiBold;
}

.chart {
    padding: 5%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.chart-container {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.profit-table {
    background: #F4F4F4;
    border-radius: 10px;
    text-align: center;
}

.table-common-header {
    text-align: center;
    font-size: 1.5rem;
}

.grey-text {
    color: #696E76;
}

.payment-statistic {
    padding: 5%;
}

.profit-mobile {
    background: #F5F6FB;
    border-radius: 10px;
    padding: 4%;
}

.profit-blocks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10%;
}

.profit-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profit-sum {
    font-family: Montserrat-SemiBold;
    font-size: 1.3rem;
}

.payment {
    background: #F5F6FB;
    border-radius: 5px;
    padding: 2%;
}

.payment-mobile {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.time {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.payer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.small-text {
    font-size: 0.8rem;
}

.who, .cost {
    font-size: 0.9rem;
}

.diagram-text {
    font-size: 0.8rem;
}

@media (max-width: 1399px) {

    .profit-table,
    .payment-table {
        font-size: 0.8rem;
    }
}

@media (max-width: 1199px) {

    .profit-table,
    .payment-table {
        font-size: 0.7rem;
    }
}

@media (min-width: 768px) {

    .profit-mobile,
    .payment-mobile {
        display: none;
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    .personal-account-statistic {
        flex-direction: column;
        width: 63%;
        gap: 20px;
    }
}

@media (max-width: 767px) {
    .personal-account-statistic {
        flex-direction: column;
        width: 100%;
        gap: 20px;
    }

    .table-responsive {
        display: none;
    }
}
