@font-face {
    font-family: "Montserrat";
    src: url('../../../fonts/fonts/Montserrat-Regular.ttf');
}

@font-face {
    font-family: "Montserrat-Bold";
    src: url('../../../fonts/fonts/Montserrat-Bold.ttf');
}

* {
    font-family: Montserrat;
}

.img-gradient {
    display: inline-block;
    position: relative;
    line-height: 0;
    border-radius: 10px;
}

.img-gradient:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    background: linear-gradient(180deg, rgba(56, 196, 189, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
    transform: rotate(-180deg);
    opacity: 0.8;
}

.head-course {
    display: flex;
    flex-direction: row;
    background: #F4F4F4;
    border-radius: 20px;
    justify-content: space-between;
    padding: 5% 3% 5% 3%;
    height: 500px;
    margin-bottom:  5%;
}

.text-head-course {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.description {
    font-size: 20px;
}

.icon-head-course-computer {
    height: 90%;
}

#enter {
    color: black;
}

@media (min-width: 992px) {
    .icon-head-course-mobile {
        display: none;
    }
}

@media (max-width: 991px) {

    .head-course {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .icon-head-course-mobile {
        margin-top: 2%;
        margin-bottom: 2%;
        width: 50%;
    }

    .text-head-course {
        width: 80%;
        align-items: center;
        justify-content: center;
    }

    .icon-head-course-computer {
        display: none;
    }

    .text-head-course h1 {
        font-size: 30px;
    }

    .description {
        font-size: 16px;
        margin-bottom: 4%;
    }
}

@media (max-width: 767px) {
    .icon-head-course-mobile {
        width: 100%;
    }
}

@media (min-width: 992px) {
    #enter {
        display: none;
    }
}
