@media (min-width: 768px) {
    .content-personal-account,
    .teacher-settings-input {
        width: 80%;
    }
}

textarea {
    height: 400px;
}

input[type="file"] {
    display: none;
}

.add-pic {
    cursor: pointer;
}