.homeworkSend {
    background: #F4F4F4;
    margin-bottom: 5%;
}

.formHomework {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.formHomework form {
    width: 50%;
    padding-top: 3%;
    padding-bottom: 3%;
}

.files {
    border-left: 1px solid black;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 3%;
}

.headForm, .files h2{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 5%;
}

#comment, #link {
    height: 65px;
}

.linkInput {
    margin-bottom: 20%;
}

.headFiles {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.filesText {
    font-weight: 500;
    font-size: 24px;
    margin-top: 35%;
    margin-left: 5%;
}
