.description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 3%;
    margin-top: 5%;
}

.description-title {
    font-weight: 600;
    font-size: 24px;
}

.description-text {
    font-size: 24px;
    width: 70%;
    display: grid;
    gap: 10px;
}

.homework-description {
    background: linear-gradient(90deg, #05B86E 0%, #00BAC5 100%);
    color: white;
    margin-bottom: -40px;
}

.description-title-homework {
    font-weight: 600;
    font-size: 40px;
}

.description-text-homework {
    width: 50%;
    font-size: 24px;
}

.head-lesson p {
    font-size: 24px;
}

.head-lesson {
    margin-top: 5%;
    margin-bottom: 5%;
}
